.repos h2 {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .repos_container {
    
    text-align: center;
    background-color: #2b3566;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2rem;

  }

  .repos_container div{
    margin: 1.2rem;
  }


  .repos_container .tag{
    border: 1px solid #fff;
  }


  .stats {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  
  .stats div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    border-radius: 3px;
    border: 1px solid #9da5d1;
    padding-right: 0.4rem;
  }
  
  .stats svg {
    background-color: #4ed8c7;
    padding: 0.2rem 0.4rem;
    border-radius: 3px;
    font-size: 2rem;
  }

  

